.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
    height: 70px;
    &__logo {
        height: 80%;
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li {
            display: flex;
            flex-direction: row;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }
        li:hover {
            border-bottom: 1px solid black;
        }
    }

}